<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hotel.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hotel.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hotel.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.hotel.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>

  

  <servlet>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.hotel.servlet.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminViewBookingsServlet</servlet-name>
    <servlet-class>com.hotel.servlet.AdminViewBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewBookingsServlet</servlet-name>
    <url-pattern>/AdminViewBookingsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateRoomStatusServlet</servlet-name>
    <servlet-class>com.hotel.servlet.UpdateRoomStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoomStatusServlet</servlet-name>
    <url-pattern>/UpdateRoomStatusServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
